.modal {
    height: 100vh;
    width:100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position:fixed; 
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    // transition: 0.5s ease-in-out;
    
    &__content {
        padding: 20px;
        border-radius: 25px;
        background-color: #fff;
        height: 100%;
        width: 100%;
        &-btn {
            border: 0;
            background: none;
            color: #000;
            font-size: 65px;
            float: right;
            cursor: pointer;
        }
    }
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content.active {
    // transform: scale(1);
}

